body {
    font-family: serif;
    font-size: 14px;
    max-width: 9600px;
    margin: auto;
    background-color: rgb(255, 255, 254);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    letter-spacing: .1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    padding-bottom: 0.1em;
}

h3 {
    font-family: 'Roboto';
    font-size: 1em;
    padding-bottom: .1em;
    text-decoration: underline;
    text-decoration-thickness: 1px;  
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

header {
    text-align: left;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    height: 4px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

a:link {
    color:rgb(77, 185, 199);
}

a:hover {
    color:rgb(28, 82, 90)
}

a:visited {
    color:rgb(143, 75, 166)
}

#mainLeft {
    border-right: 1px solid lightgray;
}
